body{
    display:flex;
    justify-content: center;
}
.TrafficLight {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    background-color: #333;
    border-radius: 5px;
    margin-top: 10px;
}
.TrafficLight .bulb {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    opacity: 0.3;
    margin: 10px;
}
.bulb.red {
    background-color:red;
}
.bulb.green {
    background-color:green;
}
.bulb.orange {
    background-color:orange;
}

.bulb.active {
    opacity: 1 !important ;
}